
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Front_Index/Front_BaseLayout.cshtml";
}

<div class="barner">
    <!--<div class="menu">

    </div>
    <div class="sidebar">

    </div>-->
</div>
<article class="center">
    <div class="sideList">
        <div class="information">

        </div>
    </div>
    <div class="menu">
        <a class="articleImg" href="">
            <img src="" alt="" />
        </a>
        <div class="articleCenter">
            <a class="articleTitle" href="/Front_Index/BArticle/Index"><span>我的个人博客之——阿里云空间选择</span></a>
            <p class="dateview">
                <span> 2017-06-07 </span>
                <span> 作者：Deluxe </span>
                <span> 来源：个人博客 </span>
            </p>
            <div class="articleTopic">
                版一个百度云免费专业版一个百度云免费专业版一个百度云免费专业版一个百度云免费专业版一个月加速升级 功能新体验 云加速能力升级大回馈，高阶功能体验季，2017年6月1日至6月20日，所有符合活动要求用户重新回归云加速，即可获得一个月专业...
            </div>
            <a href="" class="redarticle">阅读全文>></a>
        </div>
    </div>

    <div class="menu">

    </div>
    <div class="menu">

    </div>
    <div class="menu">

    </div>

</article>



